/* Start Header */

header {
  background-image: url(../images/overlay-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header .over-lay {
  background-color: rgba(0, 120, 255, 0.5);
}

/* End Header */

/* Start information-section */

.carousel button {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #0078ff !important;
}

/* End information-section */
